@tailwind base;
@tailwind components;
@tailwind utilities;
/* Solusi 1: Menggunakan custom class */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@layer base {
  :root {
    --background: 200, 5.08%, 11.57%;
    --foreground: 200, 6.52%, 81.96%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --popover: 155 36% 100%;
    --popover-foreground: 155 71% 1%;
    --card: 155 36% 100%;
    --card-foreground: 155 71% 1%;
    --border: 155 13% 90%;
    --input: 155 13% 90%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --accent: 155 23% 71%;
    --accent-foreground: 155 23% 11%;
    --destructive: 8 87% 43%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --chart-1: 155 58% 29%;
    --chart-2: 155 14% 80%;
    --chart-3: 155 23% 71%;
    --chart-4: 155 14% 83%;
    --chart-5: 155 61% 29%;
    --radius: 0.5rem;
  }

  .dark {
    color-scheme: only dark;
    --background: 200, 5.08%, 11.57%;
    --foreground: 200, 6.52%, 81.96%;
    --muted: 155 5% 5%;
    --muted-foreground: 155 8% 67%;
    --popover: 155 30% 0%;
    --popover-foreground: 155 29% 98%;
    --card: 155 30% 0%;
    --card-foreground: 155 29% 98%;
    --border: 155 13% 15%;
    --input: 155 13% 15%;
    --primary: 155 58% 29%;
    --primary-foreground: 0 0% 100%;
    --secondary: 155 10% 18%;
    --secondary-foreground: 155 10% 78%;
    --accent: 155 19% 25%;
    --accent-foreground: 155 19% 85%;
    --destructive: 8 87% 49%;
    --destructive-foreground: 0 0% 100%;
    --ring: 155 58% 29%;
    --chart-1: 155 58% 29%;
    --chart-2: 155 10% 18%;
    --chart-3: 155 19% 25%;
    --chart-4: 155 10% 21%;
    --chart-5: 155 61% 29%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

@layer utilities {
  .step {
    counter-increment: step;
  }

  .step:before {
    @apply absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 border-background bg-muted text-center -indent-px font-mono text-base font-medium;
    @apply ml-[-50px] mt-[-4px];
    content: counter(step);
  }
}

@media (max-width: 640px) {
  .container {
    @apply px-4;
  }
}

.lab-bg {
  --mask-offset: 100px;
  -webkit-mask: linear-gradient(to bottom, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent), linear-gradient(to right, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent);
  mask: linear-gradient(to bottom, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent), linear-gradient(to right, transparent, #fff var(--mask-offset) calc(100% - var(--mask-offset)), transparent);
  /* -webkit-mask: radial-gradient(circle at 50% 50%,transparent 0,#fff calc(100% - var(--mask-offset)),transparent 100%); */
  -webkit-mask-composite: source-in, xor;
  mask-composite: intersect;
}

/*
 color-scheme: only light;
--background: 200, 5.08%, 11.57%; */
